input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid green;
  -webkit-text-fill-color: green;
  transition: background-color 5000s ease-in-out 0s;
}


.App {
  height: 100vh;
  background-color: #F9F5E5;
  color: white;
}

.AddFurnitureButton{
  background-color: #358254;
  color: #358254;
}

.App__Aside {
  position: absolute;
  left: 20%;
  width: 60%;
  background-color: #FAF3DD;
  vertical-align: inherit;
  display: inline-block;
}
.App__SideMenu{
  color: white;
  background-color: #2E4158;
  width: 15%;
  display: inline-block;
  position: relative;
  margin-left: 10px;
}
.NavBar{
  color: white;
  background-color: rgb(62, 169, 241);
  height: 30px;
  width: inherit;
  margin: 10px;
  display: flex;
}
.NavBarItem{
  cursor: pointer;
  font-size: .9em;
  display: inline-block;
  margin: 5px;
  color: rgb(1, 27, 59);
}
.App__SideMeny_Item{
  border: #52C4B9;  
}
.App__InfoContainer{
  margin-left: 10px;
  margin-right: 10px;
  background-color: #68B0AB;
  box-sizing: border-box;
  width: 100%; 
}
.App__LoggedInfo{
  position: relative;
  margin-right: 10px;
  margin-bottom: 5px;
  float: right;
  width: 15vh;
  height: 6vh;
  background-color: rgb(0, 0, 0);
}
.App__ItemInfo{
  display: inline-block;
  background-color: rgb(235, 228, 208);
  height: 30vh;
  width: 25vh;
  margin: 5px;
  color: rgb(114, 73, 27);
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

.App__Form {
  position: absolute;
  left: 20%;
  width: 80%;
  background-color: #2E4158;

}

.PageSwitch {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10%;
}

.PageSwitcher {
  background-color: #4C5D72;
  color: #9DA6B1;
  padding: 10px 25px;
  cursor: pointer;
  font-size: .9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
}

.PageSwitcher--Active {
  background-color: #5ED0C0;
  color: white;
}

.PageSwitcher:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.PageSwitcher:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.FormCenter {
  padding: 25px 40px;
  margin-bottom: 100px;
}

.FormTitle {
  color: #707C8B;
  font-weight: 300;
  margin-bottom: 50px;
}

.FormTitle__Link {
  color: #707C8B;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px;
}

.FormTitle__Link:first-child {
  margin-left: 0;
}

.FormTitle__Link--Active {
  color: white;
  border-bottom: 1px solid #199087;
}

.FormField {
  margin-bottom: 15px;
}

.FormField__Label {
  display: block;
  text-transform: uppercase;
  font-size: .9em;
  color: white;

}
.errorMessage {
  display: block;
  font-size: .7em;
  color: rgb(255, 60, 60);
}
.FormField__Input {
  width: 85%;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}

.FormField__Input::placeholder {
  color: #616E7F;
}

.FormField__Button {
  background-color: #52C4B9;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: .8em;
  font-weight: 500;
  margin-top: 10px;
}

.FormField__Link {
  color: #66707D;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid #225E62;
  padding-bottom: 5px;
}

.FormField__CheckboxLabel {
  color: #646F7D;
  font-size: .9em;
}

.FormField__Checkbox {
  position: relative;
  top: 1.5px;
}

.FormField__TermsLink {
  color: white;
  border-bottom: 1px solid #199087;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
}