input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid green;
  -webkit-text-fill-color: green;
  transition: background-color 5000s ease-in-out 0s;
}

.body {
  font: Gotham;
}
.App {
  background-color: #fff;
  color: white;
  font: Gotham;
}

.homepage {
  height: 100vh;
  background: url(./images/tlo.png) no-repeat center center;
  background-size: cover;
}

.Homepage_shape_box{
  top:50%;
  position: absolute;
  left:47%;
  transform: translate(-50%, -50%);
}

.textblock{
  display:inline-block;
  top: 80%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color:white;
  width:100%;
  font-size: 72px;
  font-weight: 700;
  line-height:90px;
  position: absolute;
}

.TopImage{
  width:100%;
  height:300px;
  background:url(./images/top.png) no-repeat center center;
  background-size: cover;
  display:block;
  position:relative;
  text-align:center;
}

.TopImage_Logo{
    height: 150px;
    width: 150px;
    position:absolute;
    left:50%;
    top:40px;
    transform:translate(-50%);
}

.logo-register{
    height:100%;
}

.TopImage_Text{
  display:inline-block;
  color:white;
  color: #FFF;
  position:absolute;
  left:50%;
  top:80%;
  transform: translate(-50%, -50%);
  font-family: "Gotham";
  font-size: 36px;
  font-weight: 700;
  width:100%;
}

.AddFurnitureButton{
  background-color: #358254;

  color: #358254;
}

.App__Aside {

  width: 100%;
  height: 100vh;
  background-color: #fff;
  vertical-align: inherit;
  display: inline-block;
}
.FormCentesr.sc-bZQynM.bWlWqH{
  height: 0;
}
.DataPage__CategoryTitle{
  color: #4F4F4F;
  font-size: 36px;
  font-weight: 700;
  font-family: Gotham;
  margin-top: 7px;
  margin-bottom: 7px;
}
.DataPage__SideMenuContainer{
  color: white;
  background-color: transparent;
  width: 15%;
  display: inline-block;
  position: relative;
}
.DataPage__SideMenu{
  padding: 1px, 1px, 1px, 1px;
}
.DataPage_NavBar{
  color: white;
  background-color: rgb(62, 169, 241);
  height: 30px;
  width: inherit;
  margin: 10px;
  justify-content: space-between;
  display: flex;
  margin-top: 55px;
  padding: 4px;
}
.DataPage_TopContainer{
  display: flex;
  margin-bottom: 10px;
}
.DataPage_AccountLogo{
  height: 72px;
  width: 72px;
  margin-top: 30px;
  margin-right: 10px;
  border-radius:50%;
  box-shadow: 0 3px 7px 0 rgba(16, 28, 37, 0.5);
  margin-bottom: 32px;
  margin-left: 8px;
}
.DataPage_ButtonContainer{
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 36px;
  padding-left: 62px;
  border: 1px dashed blue;
}
.DataPage_LogoContainer{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed red;
}
.DataPage_AccountContainer{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px dashed green;
}
.DataPage_logo{
  margin-top: 10px;
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
}
.DataPage_NavItem{
  border-radius: 24px;

}
.DataPage_NavItem.sc-bdVaJa.kiiitP{
  padding: 3px 5px 3px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 205px;
  background-color: transparent;
}
.DataPage_NavItem.sc-bdVaJa.bneZnY{
  padding: 4px 2px 4px 2px;
  max-width: 208px;
}
.NavBarItem{
  cursor: pointer;
  margin: 5px;
  color: rgb(1, 27, 59);
}


.App__InfoContainer{
  margin-left: 10px;
  margin-right: 10px;
  background-color: transparent;
  box-sizing: border-box;
  width: 100%;
  height: calc(100vh - 146px);
  padding-left: 6px;
  border: 1px solid #000000;

}
.imageHere{
  max-width: 200px;
  max-height: 200px;
  min-width: 100px;
  min-height: 100px;
  height: 70%;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.App__LoggedInfo{
  position: relative;
  margin-right: 10px;
  margin-bottom: 5px;
  float: right;
  width: 15vh;
  height: 6vh;
  background-color: rgb(0, 0, 0);
}
.App__ItemInfo{
  display: inline-block;
  background-color: rgb(235, 228, 208);
  height: 30vh;
  width: 25vh;
  margin: 5px;
  color: rgb(114, 73, 27);
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

.App__Form {
  /*position: absolute;
  left: 10%;
  width: 80%;
  background-color: #2E4158;
  background: url(background.png) no-repeat center center;
  background-size: cover;*/
  height: 100vh;
  background-color: #F9F5E5;

}


.PageSwitch {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10%;
}

.PageSwitcher {
  background-color: #4C5D72;
  color: #9DA6B1;
  padding: 10px 25px;
  cursor: pointer;
  font-size: .9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
}

.PageSwitcher--Active {
  background-color: #5ED0C0;
  color: white;
}

.PageSwitcher:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.PageSwitcher:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.FormCenter {
  padding: 25px 40px;
  margin-bottom: 100px;
  text-align: center;
}

.FormTitle {
  color: #707C8B;
  font-weight: 300;
  margin-bottom: 50px;
}

.FormTitle__Link {
  color: #707C8B;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px;
}

.FormTitle__Link:first-child {
  margin-left: 0;
}

.FormTitle__Link--Active {
  color: white;
  border-bottom: 1px solid #199087;
}

.FormField {
  margin-bottom: 15px;
}
.FormField--MiddleAlign{

}

.FormField__Label {
  display: block;
  text-transform: uppercase;
  font-size: .9em;
  color: white;

}
.errorMessage {
  display: block;
  font-size: .7em;
  color: rgb(255, 60, 60);
}
.logo {
  height: 150px;
  width: 150px;
  background-color: #BDBDBD;
}
.InfoModal_Title {
  color: #4F4F4F;
  font-family: Gotham;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}
.InfoModal_Header {
  color: #4F4F4F;
  font-family: Gotham;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
}
.InfoModal_QRCode{
  height: 100px;
  width: 100px;
}
.InfoModal_Play{
  height: 100px;
  width: 260px;
}
.InfoModal_Link{
  height: 15px;
  width: 162px;
  color: #000;
  font-family: "Gotham Light";
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  border-bottom: 1px solid #199087;
}

.App_MainTag{
  height: 35px;
  width: 832.5px;
  color: #FFF;
  font-family: Gotham;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
}
input#name {
  width: 400px;
  background-color: transparent;
  border: none;
  color: #333;
  outline: none;
  box-sizing: border-box;
  border-bottom: 2px solid #1976D2;
  box-shadow: 0 4px 4px -4px rgba(33,150,243,0.5);
  font-family: "Gotham Light";
  font-size: 18px;
  line-height: 22px;
}
input#num{
  background-color: transparent;
  border: none;
  color: #333;
  outline: none;
  box-sizing: border-box;
  border: 0.5px solid #1976D2;
  box-shadow: 0 4px 4px 0px rgba(33,150,243,0.5);
  font-family: "Gotham Light";
  font-size: 18px;
  line-height: 22px;
}
intput#category{
  width: 400px;
  background-color: transparent;
  border: none;
  color: #333;
  outline: none;
  box-sizing: border-box;
  border-bottom: 2px solid #1976D2;
  box-shadow: 0 4px 4px -4px rgba(33,150,243,0.5);
  font-family: "Gotham Light";
  font-size: 16px;
  line-height: 22px;
}
input[type="file"] {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  width: 1px;
  height: 1px;
}
input[type="file"] + label {
  height: 30px;
  background-color: transparent;
  border: none;
  color: #333;
  outline: none;
  box-sizing: border-box;
  border: 0.5px solid #1976D2;
  border-radius: 24px;
  box-shadow: 0 4px 4px 0px rgba(33,150,243,0.5);

  text-align: center;
}
.MebelAddForm_InputLabel{
  font-family: "Gotham Light";
  font-size: 18px;
  line-height: 22px;
}
.ui.form .field>label{
  display: none;
}
.FormField__Input {
  width: 400px;
  background-color: transparent;
  border: none;
  color: #333;
  outline: none;
  box-sizing: border-box;
  border-bottom: 2px solid #1976D2;
  box-shadow: 0 4px 4px -4px rgba(33,150,243,0.5);
  font-family: "Gotham Light";
  font-size: 18px;
  line-height: 22px;
}
 
.FormField__Input::placeholder {
  /*color: rgba(211, 211, 211, 0.877);*/
  color: grey;

}

.FormField__Button {

  margin-top: 7px;
  border: none;
  outline: none;
  height: 48px;
  width: 200px;
  border-radius: 24px;
  background-color: #FFF;
  color: rgb(12, 2, 2);
  font-family: Gotham;
  font-size: 20px;
  font-weight: 300;
  line-height: 0;
  text-align: center;
  cursor: pointer;
}
.FormField__Button--Blue{
  background-color: #1976D2;
  box-shadow: 0 6px 14px 0 rgba(16, 28, 37, 0.5);
  color:white;
  border: 2px solid #1976D2;
}
.FormField__Button--Green{
  background-color: rgb(8, 167, 35);
  box-shadow: 0 6px 14px 0 rgba(16, 28, 37, 0.5);
  color:white;
  border: 2px solid rgb(8, 167, 35);
  width: 120px;
  height: 42px;
}
.FormField__Button--BlueBox{
  border: 2px solid #1976D2;
  box-sizing: border-box;
  color: #1976D2;
}
.FormField__Button--BlueBox:hover {
  background-color: #1976D2;
  box-shadow: 0 6px 14px 0 rgba(16, 28, 37, 0.5);
  color:white;
  border: 2px solid #1976D2;
  transform: 3s;
}
.FormField__Button--Orange{
  color:white;
  border: 2px solid #FFB300;
  background-color: #FFB300;
  box-shadow: 0 6px 14px 0 #FFC107;
}
.FormField__Button--NoMargin{
  margin-top: 0px;
}

.FormField__Button--Active{
  border: 1px solid #FFF;
  background-color: #2E4158;
}

.FormField__Button-SignUp{
    margin-top:36px;
    margin-right:36px;
    box-sizing: border-box;
    color: #1976D2;
    float:right;
    border: 2px solid #1976D2;
}

.FormField__Button-SignIn{
    margin-top:36px;
    margin-right:24px;
    background-color: #1976D2;
    box-shadow: 0 6px 14px 0 rgba(33,150,243,0.5);
    color:white;
    float:right;
    border: 2px solid #1976D2;
}

.FormField__Button-SignUp-Register{
    background-color: #1976D2;
    color:white;
    box-shadow: 0 6px 14px 0 rgba(33,150,243,0.5);
    border: 2px solid #1976D2;
}

.FormField__Buton-SignIn-Register{
  color: #1976D2;
  box-sizing: border-box;
  border: 2px solid #1976D2;
}

.sc-EHOje.chXdSi{
  height: 0;
}
.FormField__Link {
  height: 15px;
  width: 162px;
  color: #333;
  font-family: "Gotham Light";
  font-size: 14px;
  font-style:italic;
  line-height: 15px;
  text-align: center;
}

.FormField__CheckboxLabel {
  color: #646F7D;
  font-size: .9em;
}

.FormField__Checkbox {
  position: relative;
  top: 1.5px;
  margin-right: 5px;
}

.FormField__TermsLink {
  color: #1976D2;
  /*border-bottom: 1px solid #199087;*/
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
}

a.ui.card.ItemList_CardStyle{
  width: 300px;
  height: 300px;
}

.emptyDivider{
  padding:5px;
}
.ui.medium.image.ItemList_ModalImage{

}
.description.ItemList_ModalDesc{
  width: 300px;
}
.DataPage__AccountText{
  padding: 50px 0;
  color: #4F4F4F;
  font-family: "Gotham";
  font-size: 16px;
  line-height: 18px;
}
.DataPage__AccountLogout{

  color: #4F4F4F;
  font-family: "Gotham";
  font-size: 16px;
  line-height: 18px;
  position: absolute;
  border-bottom: 0.5px solid #1976D2;
  margin-right: 20px;
  margin-top: 5px;
  top: 0;
  right: 0;
}
.ItemList_ModalDescText{
  padding: 50px 0;
  color: #4F4F4F;
  font-family: "Gotham";
  font-size: 20px;
  line-height: 21px;
}
.ItemList_ModalDescText.light{
  font-family: "Gotham Light";
}
.ItemList_ModalHeader.header{
  text-align: center;

}
.ItemList_ModalHeaderText{
  color: #4F4F4F;
  font-size: 36px;
  font-weight: 700;
  font-family: Gotham;
}
.ItemList_CategoryText{
  color: #4F4F4F;
  font-family: Gotham;
  font-size: 30px;
  font-weight: 300;
  line-height: 0;
  padding-top: 10px;
}
.ItemList_CategoryContainer{
  display:inline-block;
  position: relative;
}
.mebelform{
  padding: 30px;
  font: Gotham;
}
.formaAddMebel{
  font: Gotham;
}
.ItemList_CategoryIcon{
  height: 12px;
  width: 12px;
  background-color: #4F4F4F;
  border-radius: 50%;
  position: relative; /* Declared position allows for location changes */
  top: -4px; /* Moves the image 2px closer to the top of the page */
}
.ui.medium.image.ItemList_ModalImage{
  max-height: 400px;
  height: 100%;
}
.ui.image img, .ui.image svg{
  max-height: 400px;
}
.DataPage_NavItem.sc-bdVaJa.fCRQmS{
  padding: 2px;
}
.DataPage_NavItem.sc-bdVaJa.izmYAl{
  padding: 0;
}
