input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid green;
  -webkit-text-fill-color: green;
  transition: background-color 5000s ease-in-out 0s;
}


.App {
  background-color: #F9F5E5;
  color: white;
}

.AddFurnitureButton{
  background-color: #358254;
  
  color: #358254;
}

.App__Aside {

  width: 100%;
  height: 100vh;
  background-color: #FAF3DD;
  vertical-align: inherit;
  display: inline-block;
}
.FormCentesr.sc-bZQynM.bWlWqH{
  height: 0;
}
.DataPage__CategoryTitle{
  color: #4F4F4F;
  font-size: 36px;
  font-weight: 700;
  font-family: Gotham;
  margin-top: 7px;
  margin-bottom: 7px;
}
.DataPage__SideMenuContainer{
  color: white;
  background-color: transparent;
  width: 15%;
  height: calc(100vh - 132px);
  display: inline-block;
  position: relative;
  margin-left: 10px;
}
.DataPage__SideMenu{
  padding: 1px, 1px, 1px, 1px;
}
.DataPage_NavBar{
  color: white;
  background-color: rgb(62, 169, 241);
  height: 30px;
  width: inherit;
  margin: 10px;
  justify-content: space-between;
  display: flex;
  margin-top: 55px;
  padding: 4px;
}
.DataPage_TopContainer{
  display: flex;
}
.DataPage_AccountLogo{
  height: 48px;
  width: 48px;
  background-color: #C8C8C8;
  margin-top: 30px;
  margin-right: 10px;
}
.DataPage_ButtonContainer{
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 36px;
  padding-left: 62px;
  border: 1px dashed blue;
}
.DataPage_LogoContainer{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed red;
}
.DataPage_AccountContainer{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px dashed green;
}
.DataPage_logo{
  margin-top: 30px;
  height: 100px;
  width: 100px;
  background-color: #BDBDBD;
}
.DataPage_NavItem{
  border-radius: 24px;

}
.DataPage_NavItem.sc-bdVaJa.kiiitP{
  padding: 3px 5px 3px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 205px;
}
.DataPage_NavItem.sc-bdVaJa.bneZnY{
  padding: 4px 2px 4px 2px;
  max-width: 208px;
}
.NavBarItem{
  cursor: pointer;
  margin: 5px;
  color: rgb(1, 27, 59);
}


.App__InfoContainer{
  margin-left: 10px;
  margin-right: 10px;
  background-color: transparent;
  box-sizing: border-box;
  width: 100%;
  height: calc(100vh - 132px);
  padding-left: 6px;
  border: 1px solid #000000;
  
}
.imageHere{
  max-width: 200px;
  max-height: 200px;
  min-width: 100px;
  min-height: 100px;
  height: 70%;
  width: 70%; 
  display: block;
  margin-left: auto;
  margin-right: auto; 
  
}
.App__LoggedInfo{
  position: relative;
  margin-right: 10px;
  margin-bottom: 5px;
  float: right;
  width: 15vh;
  height: 6vh;
  background-color: rgb(0, 0, 0);
}
.App__ItemInfo{
  display: inline-block;
  background-color: rgb(235, 228, 208);
  height: 30vh;
  width: 25vh;
  margin: 5px;
  color: rgb(114, 73, 27);
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

.App__Form {
  /*position: absolute;
  left: 10%;
  width: 80%;
  background-color: #2E4158;*/
  height: 100vh;
  background: url(background.png) no-repeat center center;
  background-size: cover;
}


.PageSwitch {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10%;
}

.PageSwitcher {
  background-color: #4C5D72;
  color: #9DA6B1;
  padding: 10px 25px;
  cursor: pointer;
  font-size: .9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
}

.PageSwitcher--Active {
  background-color: #5ED0C0;
  color: white;
}

.PageSwitcher:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.PageSwitcher:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.FormCenter {
  padding: 25px 40px;
  margin-bottom: 100px;
  text-align: center;
}

.FormTitle {
  color: #707C8B;
  font-weight: 300;
  margin-bottom: 50px;
}

.FormTitle__Link {
  color: #707C8B;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px;
}

.FormTitle__Link:first-child {
  margin-left: 0;
}

.FormTitle__Link--Active {
  color: white;
  border-bottom: 1px solid #199087;
}

.FormField {
  margin-bottom: 15px;
}
.FormField--MiddleAlign{

}

.FormField__Label {
  display: block;
  text-transform: uppercase;
  font-size: .9em;
  color: white;

}
.errorMessage {
  display: block;
  font-size: .7em;
  color: rgb(255, 60, 60);
}
.logo {
  height: 150px;
  width: 150px;
  background-color: #BDBDBD;
}
.InfoModal_Title {
  color: #4F4F4F;
  font-family: Gotham;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}
.InfoModal_Header {
  color: #4F4F4F;
  font-family: Gotham;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
}
.InfoModal_QRCode{
  height: 100px;
  width: 100px;
}
.InfoModal_Link{
  height: 15px;
  width: 162px;
  color: #000;
  font-family: "Gotham Light";
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  border-bottom: 1px solid #199087;
}

.App_MainTag{
  height: 35px;
  width: 832.5px;
  color: #FFF;
  font-family: Gotham;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
}

.FormField__Input {
  width: 400px;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  border-bottom: 1px solid #445366;
  font-family: "Gotham Light";
  font-size: 18px;
  line-height: 22px;
}

.FormField__Input::placeholder {
  color: rgba(211, 211, 211, 0.877);
}

.FormField__Button {

  margin-top: 7px;
  border: none;
  outline: none;
  height: 48px;
  width: 200px;
  border-radius: 24px;
  background-color: #FFF;
  color: rgb(12, 2, 2);
  font-family: Gotham;
  font-size: 20px;
  font-weight: 300;
  line-height: 0;
  text-align: center;
  cursor: pointer;
}
.FormField__Button--NoMargin{
  margin-top: 0px;
}

.FormField__Button--Active{
  border: 1px solid #FFF;
  background-color: #2E4158;
}

.FormField__Link {
  height: 15px;
  width: 162px;
  color: #000;
  font-family: "Gotham Light";
  font-size: 14px;
  line-height: 15px;
  text-align: center;
}

.FormField__CheckboxLabel {
  color: #646F7D;
  font-size: .9em;
}

.FormField__Checkbox {
  position: relative;
  top: 1.5px;
}

.FormField__TermsLink {
  color: white;
  border-bottom: 1px solid #199087;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
}

a.ui.card.ItemList_CardStyle{
  width: 300px;
  height: 300px;
}

.emptyDivider{
  padding:5px;
}
.ui.medium.image.ItemList_ModalImage{
  
}
.description.ItemList_ModalDesc{
  width: 300px;
}

.ItemList_ModalDescText{
  padding: 50px 0;
  color: #4F4F4F;
  font-family: "Gotham";
  font-size: 20px;
  line-height: 21px;
}
.ItemList_ModalDescText.light{
  font-family: "Gotham Light";
}
.ItemList_ModalHeader.header{
  text-align: center;
  
}
.ItemList_ModalHeaderText{
  color: #4F4F4F;
  font-size: 36px;
  font-weight: 700;
  font-family: Gotham;
}
.ItemList_CategoryText{
  color: #4F4F4F;
  font-family: Gotham;
  font-size: 30px;
  font-weight: 300;
  line-height: 0;
  padding-top: 10px;
}
.ItemList_CategoryContainer{
  display:inline-block;
  position: relative;
}
.ItemList_CategoryIcon{
  height: 12px;
  width: 12px;
  background-color: #4F4F4F;
  border-radius: 50%;
  position: relative; /* Declared position allows for location changes */
  top: -4px; /* Moves the image 2px closer to the top of the page */
}
.ui.medium.image.ItemList_ModalImage{
  max-height: 400px;
  height: 100%;
}
.ui.image img, .ui.image svg{
  max-height: 400px;
}
